header {
	background-color: #fff;

	h2 {
		font-size: 18px;
		font-weight: 500;
		margin-left: 16px;
	}
}

.product_details .question_wrap .question_btn::after {
	width: 10px;
	height: 10px;
	background: url(../img/icon-question.svg) no-repeat center/contain;
}


.question_wrap2 {

	.question {
		top: 35px;
		left: -110px;
		white-space: nowrap;

		&::before {
			content: "";
			position: absolute;
			top: -16px;
			left: 115px;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-bottom: 8px solid #ccc;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			z-index: 0;
		}

		&::after {
			content: "";
			position: absolute;
			top: -14px;
			left: 116px;
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-bottom: 7px solid #fff;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			z-index: 1;
		}
	}
}

.wrapper {
	height: 100%;
	background-color: #f3f3f3;
	overflow-y: auto;
	padding: 11px 0 140px;
}

.slide {
	display: flex;
	gap: 10px;
	padding-bottom: 12px;
	padding-right: 16px;
	overflow-x: auto;

	.slide_box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;
		flex: 0 0 auto;
		width: 90px;
		height: 90px;
		border-radius: 8px;
		background-color: #fff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
		padding: 0 6px;
		box-sizing: border-box;
		margin-top: 10px;

		&:nth-child(1) {
			margin-left: 16px;
		}

		.imminentk {
			position: absolute;
			top: -11px;
			left: -5px;
			font-size: 10px;
			font-weight: 500;
			color: #fff;
			background-color: #f53b3b;
			padding: 2px 6px;
			z-index: 2;
		}

		.up {
			position: absolute;
			bottom: 20px;
			right: -4px;
			width: 29px;
			height: 32px;
			background: url('../img/icon-uparrow.png') no-repeat center;
			z-index: 2;
		}

		.img_box {
			width: 56px;
			height: 56px;
			background-color: #fff;
		}

		strong {
			display: block;
			width: 100%;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			color: #202020;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		&.on {
			background-color: #ffdfdf;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
			padding: 0 9px 0 9px;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -12px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 12px 12px 0px 12px;
				border-color: #ffdfdf transparent transparent transparent;
			}

			strong {
				color: #f53b3b;
			}
		}
	}
}

.box {
	border-radius: 8px;
	background-color: #fff;
	margin: 8px 16px 0;
	padding: 30px 20px 0;

	.title_box {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		margin-bottom: 14px;

		strong {
			font-size: 14px;
			font-weight: 500;
			color: #202020;
		}

		.gb {
			display: inline-block;
			font-size: 12px;
			font-weight: 400;
		}

		.color {
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: #ffe2e2;
			border-radius: 100%;
			margin: 0 2px 0 5px;
		}
	}

	.info_wrap {
		font-size: 12px;

		.info_box {

			&.info_box2 {
				display: none;
			}

			dl {
				margin-top: 8px;

				dt {
					display: inline;
					color: #555;

					&::before {
						content: "· ";
					}
				}

				dd {
					display: inline;
					color: #202020;
				}
			}
		}

		.btn {
			text-align: center;
			border-top: 1px solid #f4f4f4;
			margin-top: 18px;

			.dropdown_btn {
				width: 100%;
				padding: 9px;
				background-color: transparent;

				img {
					transition: all 0.3s;
					vertical-align: middle;

					&.active {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

.d_box {
	border-radius: 8px;
	margin: 30px 16px 0;
	border: solid 1px #f53b3b;
	background-color: #fff;
	padding: 9px 20px 8px 20px;

	strong {
		display: block;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: normal;
		text-align: left;
		color: #202020;
		padding: 0 0 0 22px;
		background: url("../img/ico-time.png") no-repeat left center/16px auto;

		.bar {
			color: #aaaaaa;
		}

		.time {
			color: #f53b3b;
		}
	}

	&.end {
		border: solid 1px #bababa;
		background-color: #e9e9e9;

		strong {
			.time {
				color: #666;
			}
		}
	}

}

.empty_box {
	border-radius: 8px;
	background-color: #fff;
	margin: 20px 16px 0;
	padding: 25px 12px 30px 12px;
	text-align: center;

	&.mt_0 {
		margin-top: 0;
	}

	strong {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		color: #202020
	}

	p {
		font-size: 13px;
		color: #aaa;
		margin: 5px 0 0 0;
	}

	img {
		width: 148px;
		margin: 23px 0 0 30px;
	}

	.send_btn {
		width: 100%;
		font-size: 14px;
		font-weight: 300;
		color: #fff;
		border-radius: 24px;
		background-color: #f53b3b;
		padding: 9px 5px;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		margin: 23px 0 0 0;
	}
}

/* bidding_box_wrap */
.bidding_box_wrap {

	h3 {
		font-size: 16px;
		margin: 21px 0 26px 16px;
	}

	.box_wrap {
		padding: 20px 16px 40px;
		background-color: #f53b3b;

		.title {
			display: flex;
			align-items: center;
			font-size: 13px;
			color: #fff;
			margin-bottom: 20px;

			&::before {
				content: "";
				width: 20px;
				height: 20px;
				background: url('../img/ico-bid.png') no-repeat center;
				margin-right: 4px;
			}

			strong {
				color: #fff45d;
			}
		}

		.bidding_box {
			border-radius: 8px;
			background-color: #fff;
			padding: 15px 12px 20px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		.sell_info {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			border-radius: 8px;
			background-color: #fff;
			margin-bottom: 24px;

			.left {
				position: relative;
				display: flex;
				align-items: center;
				margin-top: 3px;

				.label {
					position: absolute;
					top: -10px;
					left: -10px;
					width: 26px;
					height: 33px;
					z-index: 2;

					&.one {
						background: url('../img/icon-medal-01.png') no-repeat center;
					}

					&.two {
						background: url('../img/icon-medal-02.png') no-repeat center;
					}

					&.three {
						background: url('../img/icon-medal-03.png') no-repeat center;
					}

					&.four {
						background: url('../img/icon-medal-04.png') no-repeat center;
					}

					&.five {
						background: url('../img/icon-medal-05.png') no-repeat center;
					}
				}

				.product_img {
					flex-shrink: 0;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					overflow: hidden;
					margin-right: 12px;
				}

				.product_name {
					display: flex;
					font-size: 14px;
					font-weight: bold;
					margin-bottom: 2px;

					&>div {
						width: 100%;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 1;
						margin-right: 5px;
						overflow: hidden;
					}
				}

				.star {
					display: inline-flex;
					align-items: center;
					font-size: 14px;
					font-weight: bold;
					margin-right: 10px;

					&::before {
						content: "";
						width: 12px;
						height: 12px;
						background: url('../img/ico_star_on.png') no-repeat center/contain;
						margin-right: 4px;
					}
				}

				.recommend {
					font-size: 11px;
					color: #f53b3b;
					border: 1px solid #f53b3b;
					border-radius: 20px;
					padding: 2px 10px;
				}

				.info {
					display: flex;
					align-items: center;


				}
			}

			.apply_btn {
				flex-shrink: 0;
				width: 56px;
				height: 26px;
				font-size: 10px;
				color: #fff;
				border-radius: 4px;
				background-color: #f53b3b;

				&:disabled {
					color: #777;
					background-color: #e3e3e3;
				}
			}
		}

		/* product_details */
		.product_details {
			justify-content: space-between;
			gap: 0;
			row-gap: 20px;

			&.product_details2 {
				li {
					flex: 50%;
				}
			}


			&>li {
				div {
					font-size: 10px;
					font-weight: normal;
					color: #888;
					margin-bottom: 4px;
				}

				p {
					font-size: 12px;
					font-weight: bold;
					color: #000;
				}

				&:first-child {
					div {
						color: #000;
					}

					p {
						color: #f53b3b;
					}
				}

				&:not(:last-child) {
					border-right: 1px solid #f3f3f3;
				}
			}
		}

		.total_btn {
			text-align: center;
			margin-top: 3px;

			button {
				font-size: 10px;
				font-weight: 500;
				line-height: 1.3;
				color: #f53b3b;
				border-bottom: 1px solid #f53b3b;
				background-color: transparent;
			}
		}

		.detail_btn {
			width: 100%;
			height: 32px;
			font-size: 12px;
			color: #000;
			border-radius: 16px;
			background-color: #f3f3f3;
			margin-top: 24px;
		}
	}
}

/* modal_wrap */
.modal_wrap {
	display: flex;
	align-items: center;

	.modal {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		max-width: 328px;
		height: 466px;
		border-radius: 20px;
		background-color: #fff;
		padding: 20px 16px 16px;

		.modal_head {
			h3 {
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 16px;
			}

			.modal_close_btn {
				position: absolute;
				width: 16px;
				height: 16px;
				top: 17px;
				right: 19px;
				background-color: transparent;

				&::after {
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					background: url('../img//button-close.svg') no-repeat center/contain;
					cursor: pointer;
				}
			}
		}

		.modal_body {
			flex: 1;
			overflow: auto;

			ul {
				padding: 0 3px 35px;

				li {
					display: flex;
					justify-content: space-between;
					border-radius: 8px;
					border: 1px solid #eee;
					background-color: #fff;
					box-shadow: 0 4px 2px 0 #eee;
					padding: 20px 16px 18px;
					margin-bottom: 10px;

					.lt {
						flex: 1;
						min-width: 0;

						strong {
							display: block;
							font-size: 12px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}

						div {
							font-size: 11px;
							margin-top: 7px;
						}
					}

					.rt {
						display: flex;
						flex-direction: column;
						text-align: right;

						span {
							font-size: 10px;
							color: #f53b3b;
							border: 1px solid #f53b3b;
							padding: 0 5px;
						}

						div {
							font-size: 14px;
							font-weight: bold;
							color: #f53b3b;
							margin-top: 4px;
						}
					}
				}
			}
		}

		.btn_wrap {
			position: relative;

			&::after {
				position: absolute;
				bottom: 50px;
				content: "";
				display: block;
				width: 100%;
				height: 38px;
				background: linear-gradient(to top, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0) 100%);
				z-index: 1000;
			}

			button {
				width: 100%;
				height: 44px;
				font-size: 16px;
				color: #fff;
				border-radius: 24px;
				background-color: #f53b3b;
			}
		}
	}
}