.wrap {
	display: flex;
	flex-direction: column;
}

header {
	background-color: #fff;

	h2 {
		font-size: 18px;
		font-weight: 500;
		margin-left: 16px;
	}
}

.wrapper {
	overflow: auto;
}

/* wings */
.wings {
	width: 100%;
	max-width: 460px;
	border-radius: 20px 20px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.04);
	padding: 28px 16px;
	z-index: 1000;

	h3 {
		font-size: 16px;
		margin-bottom: 21px;
	}
}