.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f3f3;
}

header {
  background-color: #fff;
}
header h2 {
  font-size: 18px;
  font-weight: 500;
  margin-left: 14px;
}

.wrapper {
  background-color: #fff;
  overflow-y: scroll;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* bg */
.bg .bubble {
  max-width: 200px;
  background-color: #f7f7f7;
  padding: 12px;
  margin-top: 20px;
}
.bg .bubble::after {
  display: none;
}
.bg .bubble > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}
.bg .counselor {
  width: 100px;
  height: 170px;
}
.bg .counselor .head {
  top: -23px;
  width: 100px;
  height: 170px;
}
.bg .counselor .body {
  bottom: -39px;
}

.product_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 68px;
  height: 68px;
  border-radius: 8px;
  background-color: #fff;
  margin-right: 12px;
}
.product_img img {
  max-width: 51px;
  max-height: 51px;
}

.product_info_wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product_info_wrap .company {
  font-size: 14px;
  font-weight: normal;
  color: #555;
}
.product_info_wrap .product_name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.product_info_wrap .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  color: #555;
}
.product_info_wrap .color::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
}
.product_info_wrap .color.pink::before {
  background-color: #ffe2e2;
}

/* question_box */
.question_box {
  position: relative;
  min-height: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #f3f3f3;
  padding: 20px 16px;
  margin-top: -29px;
  /* ani */
  /* box_wrap */
}
.question_box .cs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  margin: 0 40px 16px 0;
}
.question_box .cs::before {
  content: "";
  min-width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  background: url("../img/img-profile-cs.png") no-repeat center;
  margin-right: 8px;
}
.question_box .cs p {
  font-size: 14px;
  line-height: 1.43;
  color: #000;
  border-radius: 0 10px 10px 10px;
  background-color: #fff;
  padding: 8px;
  margin-top: 8px;
}
.question_box .user {
  text-align: right;
  margin-left: 40px;
  margin: 0 0 8px 40px;
}
.question_box .user p {
  display: inline-block;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #fff;
  border-radius: 10px 0 10px 10px;
  background-color: #f53b3b;
  padding: 8px;
}
.question_box .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #ff6b6b;
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
          animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  margin-right: 4px;
}
.question_box .dot:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.question_box .dot:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.question_box .dot:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.question_box .dot:last-child {
  margin-right: 0;
}
.question_box .user.chat {
  display: none;
}
.question_box .cs.bounce_ani,
.question_box .user.bounce_ani {
  -webkit-animation: bounceActive 0.5s ease-out;
          animation: bounceActive 0.5s ease-out;
}
.question_box .cs.fade_ani,
.question_box .user.fade_ani {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
          animation: fadeIn 0.5s ease-in-out forwards;
}
.question_box .cs.slide_ani,
.question_box .user.slide_ani {
  opacity: 0;
  -webkit-animation: slideInRight 0.5s ease-in-out forwards;
          animation: slideInRight 0.5s ease-in-out forwards;
}
.question_box .user.chat_ani {
  display: block;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
          animation: fadeIn 0.5s ease-in-out forwards;
}
@-webkit-keyframes bounceActive {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceActive {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background-color: #f53b3b;
  }
  28% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    background-color: #ff6b6b;
  }
  44% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background-color: #ff9b9b;
  }
}
@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background-color: #f53b3b;
  }
  28% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    background-color: #ff6b6b;
  }
  44% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background-color: #ff9b9b;
  }
}
.question_box .box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.question_box .box_wrap .box {
  width: 100%;
  text-align: center;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 13px;
}
.question_box .box_wrap .box.active {
  border: 1px solid #f53b3b;
}
.question_box .box_wrap .box.active button {
  color: #fff;
  background-color: #f53b3b;
}
.question_box .box_wrap .box div {
  font-size: 14px;
  font-weight: 500;
}
.question_box .box_wrap .box h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 16px auto 6px;
}
.question_box .box_wrap .box strong {
  font-size: 16px;
  color: #f53b3b;
}
.question_box .box_wrap .box p {
  font-size: 11px;
  color: #555;
  margin-top: 4PX;
}
.question_box .box_wrap .box ul {
  border-top: 1px solid #eaeaea;
  margin-top: 16px;
}
.question_box .box_wrap .box ul li {
  padding-top: 16px;
}
.question_box .box_wrap .box button {
  width: 100%;
  font-size: 14px;
  border-radius: 24px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 0;
  margin-top: 20px;
}

/* wings */
.wings {
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.04);
  padding: 28px 16px;
}
.wings h3 {
  font-size: 16px;
  margin-bottom: 12px;
}
.wings h3.circle span::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f53b3b;
  margin: 0 4px 2px 0;
}
.wings h3.circle span:nth-child(2)::before {
  background-color: #555;
}
.wings .info {
  font-size: 12px;
  color: #aaa;
  margin-top: 6px;
}

/********************** step5, 6 /**********************/
/* slider_wrap */
.slider_wrap {
  /* slider_wrap2 */
}
.slider_wrap input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  border-radius: 24px;
  background-color: #f3f3f3;
  padding: 0 24px;
  margin-bottom: 8px;
}
.slider_wrap input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f53b3b;
  -webkit-box-shadow: 0 2px 2px 0 rgba(194, 34, 34, 0.4);
          box-shadow: 0 2px 2px 0 rgba(194, 34, 34, 0.4);
  cursor: pointer;
}
.slider_wrap .datalist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  width: 100%;
  padding: 0 14px;
}
.slider_wrap .datalist span {
  width: 38px;
  font-size: 12px;
  text-align: center;
  color: #aaa;
}
.slider_wrap .datalist span::before {
  content: "";
  display: block;
  width: 1px;
  height: 7px;
  background-color: #ddd;
  margin: auto;
}
.slider_wrap label {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 8px;
  margin: 16px auto 8px;
}
.slider_wrap.slider_wrap2 {
  position: relative;
  height: 12px;
  border-radius: 24px;
  background-color: #f3f3f3;
  margin-bottom: 115px;
}
.slider_wrap.slider_wrap2 input {
  position: absolute;
  background: none;
  pointer-events: none;
}
.slider_wrap.slider_wrap2 input::-webkit-slider-thumb {
  pointer-events: all;
}
.slider_wrap.slider_wrap2 input:nth-child(2)::-webkit-slider-thumb {
  background-color: #555;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.slider_wrap.slider_wrap2 .datalist {
  gap: 2px;
  padding: 20px 11px 0 11px;
}
.slider_wrap.slider_wrap2 .datalist span {
  width: 44px;
  width: 45px;
  font-size: 11px;
}
.slider_wrap.slider_wrap2 .label_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
}
.slider_wrap.slider_wrap2 .label_wrap label::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f53b3b;
  margin: 0 4px 2px 0;
}
.slider_wrap.slider_wrap2 .label_wrap label:nth-child(2)::before {
  background-color: #555;
}

.sel_btn {
  margin-top: 0;
}

/********************** step7/**********************/
/* modal_wrap */
.modal_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal_wrap .modal {
  position: relative;
  width: 280px;
  text-align: center;
  border-radius: 12px;
  background-color: #fff;
}
.modal_wrap .modal::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 60px;
  height: 60px;
  background: url("../img/img-pop-complete.png") no-repeat center;
}
.modal_wrap .modal h3 {
  font-size: 18px;
  margin-top: 45px;
}
.modal_wrap .modal .modal_box {
  border-radius: 8px;
  background-color: #f8f8f8;
  padding: 22px 16px 24px;
  margin: 20px 20px 30px;
}
.modal_wrap .modal .modal_box p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 26px;
}
.modal_wrap .modal .modal_box p strong {
  color: #f53b3b;
  border-bottom: 2px solid #f53b3b;
}
.modal_wrap .modal .modal_box ul {
  text-align: left;
}
.modal_wrap .modal .modal_box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #616161;
}
.modal_wrap .modal .modal_box ul li:not(:last-child) {
  margin-bottom: 7px;
}
.modal_wrap .modal .modal_box ul li::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/icon-check-01.svg") no-repeat center;
  margin-right: 3px;
}
.modal_wrap .modal .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.modal_wrap .modal .btn_wrap button {
  width: 100%;
  height: 44px;
  font-size: 14px;
}
.modal_wrap .modal .btn_wrap button.no_btn {
  color: #777;
  background-color: #e3e3e3;
}
.modal_wrap .modal .btn_wrap button.yes_btn {
  color: #fff;
  background-color: #f53b3b;
}
.modal_wrap .modal2 {
  width: 280px;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
}
.modal_wrap .modal2 .modal_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 0;
}
.modal_wrap .modal2 .modal_product .product_img {
  border: 1px solid #f3f3f3;
}
.modal_wrap .modal2 .modal_product .product_name {
  margin-bottom: 6px;
}
.modal_wrap .modal2 .modal_body {
  padding: 27px 13px 30px;
}
.modal_wrap .modal2 .modal_body p {
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  color: #000;
  margin-bottom: 16px;
}
.modal_wrap .modal2 .modal_body ul {
  padding: 0 8px 28px;
}
.modal_wrap .modal2 .modal_body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: #202020;
}
.modal_wrap .modal2 .modal_body ul li:not(:last-child) {
  margin-bottom: 6px;
}
.modal_wrap .modal2 .modal_body ul li span {
  font-weight: normal;
  text-align: left;
  color: #555;
  white-space: nowrap;
}
.modal_wrap .modal2 .modal_body .comfirm {
  border-radius: 10px;
  -webkit-animation: blinkSmooth 1s infinite;
          animation: blinkSmooth 1s infinite;
  overflow: hidden;
}
.modal_wrap .modal2 .modal_body .comfirm.active {
  border: 1px solid #f53b3b;
  background-color: #f53b3b;
  -webkit-animation: normal;
          animation: normal;
}
.modal_wrap .modal2 .modal_body .comfirm .title {
  font-size: 14px;
  color: #fff;
  padding: 9px 11px;
}
@-webkit-keyframes blinkSmooth {
  0% {
    background-color: #f53b3b;
    border: 1px solid #f53b3b;
  }
  50% {
    background-color: #999;
    border: 1px solid #999;
  }
  100% {
    background-color: #f53b3b;
    border: 1px solid #f53b3b;
  }
}
@keyframes blinkSmooth {
  0% {
    background-color: #f53b3b;
    border: 1px solid #f53b3b;
  }
  50% {
    background-color: #999;
    border: 1px solid #999;
  }
  100% {
    background-color: #f53b3b;
    border: 1px solid #f53b3b;
  }
}
.modal_wrap .modal2 .modal_body .comfirm .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 7px 18px 8px;
  background-color: #fff;
}
.modal_wrap .modal2 .modal_body .comfirm .check.active {
  background-color: #ffeded;
}
.modal_wrap .modal2 .modal_body .comfirm .check h5 {
  font-size: 14px;
  margin: 19px 12px;
}
.modal_wrap .modal2 .modal_body .comfirm .check label {
  position: relative;
  top: -1px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #777;
  padding-left: 8px;
}
.modal_wrap .modal2 .modal_body .comfirm .check input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  background: url("../img/mo-check-off.svg") left center no-repeat;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
}
.modal_wrap .modal2 .modal_body .comfirm .check input[type=checkbox]:checked {
  background: url("../img/mo-check-on.svg") left center no-repeat;
}
.modal_wrap .modal2 .modal_body .comfirm .check input[type=checkbox]:disabled {
  border: 1px solid #d8d8d8;
  background: none;
  background-color: #ddd;
}
.modal_wrap .modal2 .modal_body .comfirm .check input[type=checkbox]:checked + label {
  color: #f53b3b;
}
.modal_wrap .modal2 .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal_wrap .modal2 .btn_wrap button {
  width: 100%;
  height: 44px;
  font-size: 14px;
}
.modal_wrap .modal2 .btn_wrap button.no_btn {
  color: #777;
  background-color: #e3e3e3;
}
.modal_wrap .modal2 .btn_wrap button.yes_btn {
  color: #fff;
  background-color: #f53b3b;
}
.modal_wrap .modal2 .btn_wrap button.yes_btn:disabled {
  color: #ddd;
  background-color: #999;
}/*# sourceMappingURL=lowest_price.css.map */