/* bg */
.bg {
	background-color: #fff;
	padding-top: 10px;

	.bubble {
		max-width: 200px;
		background-color: #f7f7f7;
		padding: 12px;
		margin-top: 20px;

		&::after {
			display: none;
		}

		&>div {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: auto;
		}
	}

	.counselor {
		width: 100px;
		height: 170px;

		.head {
			top: -23px;
			width: 100px;
			height: 170px;
		}

		.body {
			bottom: -39px;
		}
	}
}

.product_img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 68px;
	height: 68px;
	border-radius: 8px;
	background-color: #fff;
	margin-right: 12px;

	img {
		max-width: 51px;
		max-height: 51px;
	}
}

.product_info_wrap {
	flex: 1;

	.company {
		font-size: 14px;
		font-weight: normal;
		color: #555;
	}

	.product_name {
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
	}

	.color {
		display: flex;
		align-items: center;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.5;
		color: #555;

		&::before {
			content: "";
			width: 12px;
			height: 12px;
			border-radius: 50%;
			margin-right: 4px;
		}

		&.pink {
			&::before {
				background-color: #ffe2e2;
			}
		}
	}
}

/* question_box */
.question_box {
	position: relative;
	border-radius: 20px 20px 0 0;
	background-color: #f3f3f3;
	padding: 20px 16px;
	margin-top: -29px;

	.cs {
		display: flex;
		margin-right: 40px;
		margin: 0 40px 16px 0;

		&::before {
			content: "";
			min-width: 32px;
			height: 32px;
			display: inline-block;
			border-radius: 50%;
			background: url('../img/img-profile-cs.png') no-repeat center;
			margin-right: 8px;
		}

		p {
			font-size: 14px;
			line-height: 1.43;
			color: #000;
			border-radius: 0 10px 10px 10px;
			background-color: #fff;
			padding: 8px;
			margin-top: 8px;
		}
	}

	.user {
		text-align: right;
		margin-left: 40px;
		margin: 0 0 8px 40px;

		p {
			display: inline-block;
			font-size: 14px;
			line-height: 1.43;
			text-align: left;
			color: #fff;
			border-radius: 10px 0 10px 10px;
			background-color: #f53b3b;
			padding: 8px;
		}
	}

	.dot {
		display: inline-block;
		width: 7px;
		height: 7px;
		vertical-align: middle;
		border-radius: 50%;
		background-color: #ff6b6b;
		animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
		animation-delay: 1s;
		margin-right: 4px;

		&:nth-child(1) {
			animation-delay: 200ms;
		}

		&:nth-child(2) {
			animation-delay: 300ms;
		}

		&:nth-child(3) {
			animation-delay: 400ms;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	/* ani */
	.user.chat {
		display: none;
	}

	.cs.bounce_ani,
	.user.bounce_ani {
		animation: bounceActive 0.5s ease-out;
	}

	.cs.fade_ani,
	.user.fade_ani {
		opacity: 0;
		animation: fadeIn 0.5s ease-in-out forwards;
	}

	.cs.slide_ani,
	.user.slide_ani {
		opacity: 0;
		animation: slideInRight 0.5s ease-in-out forwards;
	}

	.user.chat_ani {
		display: block;
		opacity: 0;
		animation: fadeIn 0.5s ease-in-out forwards;
	}

	@keyframes bounceActive {
		0% {
			transform: scale(1);
		}

		25% {
			transform: scale(1.1);

		}

		50% {
			transform: scale(0.8);
		}

		75% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes slideInRight {
		0% {
			transform: translateX(100%);
			opacity: 0;
		}

		80% {
			transform: translateX(-10px);
			opacity: 1;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes mercuryTypingAnimation {
		0% {
			transform: translateY(0px);
			background-color: #f53b3b;
		}

		28% {
			transform: translateY(-5px);
			background-color: #ff6b6b;
		}

		44% {
			transform: translateY(0px);
			background-color: #ff9b9b;
		}
	}

	/* box_wrap */
	.box_wrap {
		display: flex;
		gap: 8px;

		.box {
			width: 100%;
			text-align: center;
			border-radius: 12px;
			background-color: #fff;
			padding: 20px 13px;

			&.active {
				border: 1px solid #f53b3b;

				button {
					color: #fff;
					background-color: #f53b3b;
				}
			}

			div {
				font-size: 14px;
				font-weight: 500;
			}

			h3 {
				font-size: 16px;
				font-weight: bold;
				margin: 16px auto 6px;
			}

			strong {
				font-size: 16px;
				color: #f53b3b;
			}

			p {
				font-size: 11px;
				color: #555;
				margin-top: 4PX;
			}

			ul {
				border-top: 1px solid #eaeaea;
				margin-top: 16px;

				li {
					padding-top: 16px;
				}
			}

			button {
				width: 100%;
				font-size: 14px;
				border-radius: 24px;
				border: 1px solid #ddd;
				background-color: #fff;
				padding: 10px 0;
				margin-top: 20px;
			}
		}
	}
}

/* wings */
.wings {
	border-radius: 20px 20px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.04);
	padding: 28px 16px;

	h3 {
		font-size: 16px;
		margin-bottom: 12px;

		&.circle {
			span::before {
				content: "";
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #f53b3b;
				margin: 0 4px 2px 0;
			}

			span:nth-child(2)::before {
				background-color: #555;
			}
		}
	}

	.info {
		font-size: 12px;
		color: #aaa;
		margin-top: 6px;
	}
}

/********************** step5, 6 /**********************/

/* slider_wrap */
.slider_wrap {
	input[type="range"] {
		appearance: none;
		width: 100%;
		display: flex;
		align-items: center;
		height: 12px;
		border-radius: 24px;
		background-color: #f3f3f3;
		padding: 0 24px;
		margin-bottom: 8px;

		&::-webkit-slider-thumb {
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #f53b3b;
			box-shadow: 0 2px 2px 0 rgba(194, 34, 34, 0.4);
			cursor: pointer;
		}
	}

	.datalist {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 11px;
		width: 100%;
		padding: 0 14px;

		span {
			width: 38px;
			font-size: 12px;
			text-align: center;
			color: #aaa;

			&::before {
				content: "";
				display: block;
				width: 1px;
				height: 7px;
				background-color: #ddd;
				margin: auto;
			}
		}
	}

	label {
		display: block;
		width: 100%;
		font-size: 16px;
		text-align: center;
		border-radius: 8px;
		border: 1px solid #ddd;
		background-color: #fff;
		padding: 8px;
		margin: 16px auto 8px;
	}

	/* slider_wrap2 */
	&.slider_wrap2 {
		position: relative;
		height: 12px;
		border-radius: 24px;
		background-color: #f3f3f3;
		margin-bottom: 115px;

		input {
			position: absolute;
			background: none;
			pointer-events: none;

			&::-webkit-slider-thumb {
				pointer-events: all;
			}

			&:nth-child(2)::-webkit-slider-thumb {
				background-color: #555;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
			}
		}

		.datalist {
			gap: 2px;
			padding: 20px 11px 0 11px;

			span {
				width: 44px;
				width: 45px;
				font-size: 11px;
			}
		}

		.label_wrap {
			display: flex;
			justify-content: space-between;
			gap: 8px;

			label {

				&::before {
					content: "";
					display: inline-block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #f53b3b;
					margin: 0 4px 2px 0;
				}

				&:nth-child(2) {
					&::before {
						background-color: #555;
					}
				}
			}
		}
	}
}

.sel_btn {
	margin-top: 0;
}

/********************** step7/**********************/

/* modal_wrap */
.modal_wrap {
	display: flex;
	align-items: center;

	.modal {
		position: relative;
		width: 280px;
		text-align: center;
		border-radius: 12px;
		background-color: #fff;

		&::before {
			content: "";
			position: absolute;
			top: -30px;
			right: 50%;
			transform: translateX(50%);
			width: 60px;
			height: 60px;
			background: url('../img/img-pop-complete.png') no-repeat center;
		}

		h3 {
			font-size: 18px;
			margin-top: 45px;
		}

		.modal_box {
			border-radius: 8px;
			background-color: #f8f8f8;
			padding: 22px 16px 24px;
			margin: 20px 20px 30px;

			p {
				font-size: 14px;
				font-weight: bold;
				line-height: 1.36;
				margin-bottom: 26px;

				strong {
					color: #f53b3b;
					border-bottom: 2px solid #f53b3b;
				}
			}

			ul {
				text-align: left;

				li {
					display: flex;
					align-items: center;
					font-size: 12px;
					color: #616161;

					&:not(:last-child) {
						margin-bottom: 7px;
					}

					&::before {
						content: "";
						width: 16px;
						height: 16px;
						background: url('../img/icon-check-01.svg') no-repeat center;
						margin-right: 3px;
					}
				}
			}
		}

		.btn_wrap {
			display: flex;
			border-radius: 0 0 12px 12px;
			overflow: hidden;

			button {
				width: 100%;
				height: 44px;
				font-size: 14px;

				&.no_btn {
					color: #777;
					background-color: #e3e3e3;
				}

				&.yes_btn {
					color: #fff;
					background-color: #f53b3b;
				}
			}
		}
	}

	.modal2 {
		width: 280px;
		border-radius: 12px;
		background-color: #fff;
		overflow: hidden;

		.modal_product {
			display: flex;
			align-items: center;
			padding: 30px 20px 0;

			.product_img {
				border: 1px solid #f3f3f3;
			}

			.product_name {
				margin-bottom: 6px;
			}
		}

		.modal_body {
			padding: 27px 13px 30px;

			p {
				text-align: center;
				font-size: 14px;
				line-height: 1.43;
				color: #000;
				margin-bottom: 16px;
			}

			ul {
				padding: 0 8px 28px;

				li {
					display: flex;
					justify-content: space-between;
					font-size: 14px;
					font-weight: 500;
					text-align: right;
					color: #202020;

					&:not(:last-child) {
						margin-bottom: 6px;
					}

					span {
						font-weight: normal;
						text-align: left;
						color: #555;
						white-space: nowrap;
					}
				}
			}

			.comfirm {
				border-radius: 10px;
				animation: blinkSmooth 1s infinite;
				overflow: hidden;

				&.active {
					border: 1px solid #f53b3b;
					background-color: #f53b3b;
					animation: normal;
				}

				.title {
					font-size: 14px;
					color: #fff;
					padding: 9px 11px;
				}

				@keyframes blinkSmooth {
					0% {
						background-color: #f53b3b;
						border: 1px solid #f53b3b;
					}

					50% {
						background-color: #999;
						border: 1px solid #999;
					}

					100% {
						background-color: #f53b3b;
						border: 1px solid #f53b3b;
					}
				}

				.check {
					display: flex;
					padding: 19px 7px 18px 8px;
					background-color: #fff;

					&.active {
						background-color: #ffeded;
					}

					h5 {
						font-size: 14px;
						margin: 19px 12px;
					}

					label {
						position: relative;
						top: -1px;
						font-size: 14px;
						font-weight: 300;
						line-height: 1.57;
						color: #777;
						padding-left: 8px;
					}

					input[type="checkbox"] {
						appearance: none;
						width: 18px;
						height: 18px;
						background: url('../img/mo-check-off.svg') left center no-repeat;
						margin: 0;
						padding: 0;
						border-radius: 0;
						border: none;
						cursor: pointer;
					}

					input[type="checkbox"]:checked {
						background: url('../img/mo-check-on.svg') left center no-repeat;
					}

					input[type="checkbox"]:disabled {
						border: 1px solid #d8d8d8;
						background: none;
						background-color: #ddd;
					}

					input[type="checkbox"]:checked+label {
						color: #f53b3b;
					}
				}
			}
		}

		.btn_wrap {
			display: flex;

			button {
				width: 100%;
				height: 44px;
				font-size: 14px;

				&.no_btn {
					color: #777;
					background-color: #e3e3e3;
				}

				&.yes_btn {
					color: #fff;
					background-color: #f53b3b;

					&:disabled {
						color: #ddd;
						background-color: #999;
					}
				}
			}
		}
	}
}