.wrapper {
	background-color: #fff;
}

/* bg */
.bg {
	padding-top: 10px;

	.bubble {
		border: 1px solid #eee;
		background-color: #f7f7f7;
		margin-top: 20px;

		p {
			font-size: 16px;
			text-align: center;
			line-height: 1.38;
			letter-spacing: -0.16px;

			span {
				color: #202020;
				white-space: wrap;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
			}
		}

		&::after {
			border-left: 20px solid #f7f7f7;
		}
	}
}

.wing {

	.list_wrap2 {
		padding-left: 0;
		padding-right: 0;
		padding: 20px 0 0 0;
		background-color: #f7f7f7;
	}

	/* product_select */
	.search {
		margin: 0 0 22px 0;

		input {
			border: 1px solid #eee;
			background-color: #fff;
		}
	}

	.product_info_wrap {
		button {
			color: #fff;
			border-radius: 18px;
			background-color: #f53b3b;
			padding: 8px 14px;

			&:hover {
				filter: brightness(1.1);
			}
		}
	}

	.hidden {
		height: 360px;
		overflow: hidden;
	}

	.open_btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -5px;
		width: 100%;
		height: 53px;
		font-size: 14px;
		font-weight: 500;
		color: #000;
		border-radius: 8px;
		border: 1px solid #000;
		background-color: #fff;
		transition: all 0.2s;

		&::after {
			content: "";
			width: 14px;
			height: 14px;
			background: url('../img/ico-more.svg') no-repeat center;
			margin-left: 8px;
		}

		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}

	/* product_details */
	.product_wrap {
		background-color: #fff;
		padding: 0 16px 80px;
	}

	.box.details_box {
		display: block !important;
		margin: 0 16px;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.company {
			font-size: 16px;
		}

		.product_name {
			font-size: 18px;
		}

		.model_number {
			font-size: 16px;
			font-weight: 500;
			margin-top: 2px;
		}
	}

	.product_details2 {
		padding: 27px 14px 0;

		li {
			display: flex;
			justify-content: space-between;
			column-gap: 20px;
			font-size: 14px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			div {
				min-width: 110px;
				max-width: 110px;
				font-weight: 500;
			}

			p {
				text-align: right;
				color: #555;
			}
		}
	}

	.add_details {
		list-style: initial;
		font-size: 13px;
		line-height: 1.54;
		color: #202020;
		padding-left: 16px;
		margin-top: 27px;

		li:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.option_btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(100% - 24px);
		height: 40px;
		font-size: 14px;
		color: #000;
		border-radius: 8px;
		border: 1px solid #ddd;
		background-color: #fff;
		margin: 38px 12px 0;

		&::after {
			content: "";
			width: 14px;
			height: 14px;
			background: url('../img/ico-more.svg') no-repeat center;
			margin-left: 8px;
			transform: rotate(-90deg);
		}
	}

	.details_btn {
		position: fixed;
		max-width: 600px;
		margin: auto;
		bottom: 0;
		width: 100%;
		height: 48px;
		font-size: 16px;
		color: #fff;
		box-shadow: 0 2px 4px 0 rgba(245, 59, 59, 0.4);
		background-color: #f53b3b;

		&:hover {
			filter: brightness(1.1);
		}
	}
}